// VARIABLES
$brand-color: #f24c45;
$success-color: #92c001;
$error-color: #f24c45;
$body-text-color: #767d8c;

// BREAKPOINTS
$bp-small : 480px;
$bp-small-plus : 650px;
$bp-medium : 768px;
$bp-large : 992px;
$bp-xlarge : 1200px;

@mixin breakp ($breaksize){
    @media only screen and (min-width: $breaksize) { @content; }
}

@mixin borderRadius ($r) {
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -ms-border-radius: $r;
  -o-border-radius: $r;
  border-radius: $r;

  // keeps background from busting out of border
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

@mixin transition($in, $out){
  -webkit-transition: all $in ease-out $out;
  -moz-transition: all $in ease-out $out;
  -o-transition: all $in ease-out $out;
  transition: all $in ease-out $out;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}
