<body style="font-size: 13px;">
<p style="-webkit-font-smoothing: antialiased; font-family: Arial, sans-serif;">
Hi {{firstName}},
</p>

<p style="-webkit-font-smoothing: antialiased; font-family: Arial,sans-serif;">
Thanks for taking my colleague’s call – appreciate your interest in our client’s research!
</p>

<p style="-webkit-font-smoothing: antialiased; font-family: Arial, sans-serif;">
Here’s a link to read more about the project and opt in:<br/>

<a href="{{{acceptUrl}}}">{{{acceptUrl}}}</a>
</p>

<p style="-webkit-font-smoothing: antialiased; font-family: Arial, sans-serif;">
Let me know if you have any questions, and I look forward to seeing your response come through soon.
</p>

<p style="-webkit-font-smoothing: antialiased; font-family: Arial, sans-serif;">
Best, <br/>
</p>
